.n-container {
  background: #12406f;
  color: white;
  height: 98px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.nav_logo {
  font-weight: 700;
  font-size: 40px;
  cursor: pointer;
}
.hambergur ,.dropDownMenu{
  display: none;
}

.nav_items > ul {
    
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}

.nav_items>ul>li{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_1 {
  width: 117px;
  height: 40px;
  background-color: #ffff;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  color: #12406f;
  cursor: pointer;
}

@media (max-width:1044px){
  
  .nav_items > ul {
    
    display: none;
  }
  .nav_logo{
    margin-right: 40px;
  }
  .hambergur{
    display: block;
    cursor: pointer;
  }
  .dropDownMenu{
    position: absolute;
    background: white;
    color: #12406f;
    width: 250px;
    display: flex;
    justify-content: center;
    top: 9%;
    right: 18%;
    border-radius:15px 0px 15px 15px ;
    z-index: 1;
    box-shadow: 5px 5px 30px 1px black;
  }
  .dropDownMenu>ul{
    list-style: none;
  }
  .dropDownMenu>ul>li{
    padding: 30px;
    border-bottom: 1px solid #e1e4e7;
  }
  .cross_icon{
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    cursor: pointer;
  }
  .button_3 {
    width: 117px;
    height: 40px;
    background-color: #12406f;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    color: #ffff;
    cursor: pointer;
  }
}
